{% extends 'layout.html' %}
{% block title %}Criar um cardápio{% endblock %}
{% block content %}



<div class="body-form">
    <div class="form-container">
    <h1>Adicione suas Restrições</h1>
    <form action="/cardapio" method="post">
      <label for="name">Nome</label>
      <input class="input-text" type="text" id="name" name="name" placeholder="Digite seu nome" required>

      <label for="email">E-mail</label>
      <input class="input-text" type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

      <label for="zap">Seu telefone</label>
      <input class='input-text' type="tel" id="zap" name="zap" placeholder="Digite seu telefone" required>

  <div class="container">
    <div class="question">Restrições:</div>
    <label><input class="input" type="checkbox" name="comidas" value="vegano"> vegano</label>
    <label><input class="input" type="checkbox" name="comidas" value="vegetariano"> Vegetariano</label>
    <label><input class="input" type="checkbox" name="comidas" value="leite"> Leite</label>
    <label><input class="input" type="checkbox" name="comidas" value="glúten"> Glúten</label>
  </div>
    <label><input type="checkbox" name="termos" value="term-vall">  Aceito termos e condições</label>
    </label>

      <button type="submit">Enviar</button>
    </form>
  </div>
</div>

{% endblock %}