{% extends 'layout.html' %}
{% block content %}
<div class="foto-inicial">     
        <img src="../static/assets/images/fotoinicial.jpg" alt="inicial"  width="50%" style="float: left; margin-right: 30px;" class="centered-img">
        </div>

        <div class="conteudo">
            <p> Aqui, todos os sabores têm um lugar - Um restaurante onde a diversidade é o ingrediente principal </p>

        
        </div>

        <a href="{{url_for('form')}}">
         <nav class="add-button">
                <button class="button" aria-label="Cardapio">Ver Cardapio</button>
        </nav>
        </a>

{% endblock %}